.card {
    background-color: #1f2a48;
    width: 80vw;
    max-width: 600px;
    padding: 20px;
    border: none;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.white-content .card {
	color: #1f2a48;
    background-color: #fff;
}

.user-title {
    font-size: 10px;
    width: 80vw;
    max-width: 600px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.user-info {
    margin-left: 10px;
}

.user-info h1 {
    font-size: 22px;
    font-weight: 600;
    margin-top: -1px;

}

.user-info h2 {
    font-size: 14px;
    margin-top: -15px;
    color: #0079fe;
}

.description {
    line-height: 24px;
}

.avatar {
    float: left;
}

.avatar img {
    border: 0px;
    border-radius: 50%;
    width: 120px;
}

.numbers {
    background-color: #141c2f;
    border-radius: 20px;
    display: flex;
    width: 80vw;
    max-width: 600px;
    text-align: center;
    justify-content: space-around;
    padding: 10px 0px;
}

.white-content .numbers {
	color: #1f2a48;
    background-color: #0079fe;
}

.numbers h4 {
    margin: 10px;
    color: #aaa;
}

.white-content .numbers h4 {
    margin: 10px;
    color: #1f2a48;
}

.numbers p {
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
}

.more-info {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
}

.more-info li {
    max-width: 100%;
    margin: 5px;
}

@media (max-width: 600px) {
    .more-info {
        grid-template-columns: auto;
    }

    .user-title {
        grid-template-columns: 1fr 2fr;
    }
}